.center {
    text-align: center;
}

.button-heading {
    font-size: 20px;
}

.hidden-button {
    display: none;
}

#hard-display {
    position: relative;
    margin: 0 auto;
    z-index: 3;
    color: #000000;
    transition: display .5s;
}

.button-container {
    padding: 15px;
    display: inline-block;
    text-align: center;
}

.button-background-on {
    background-color: lightgreen;
    transition: background-color .5s;
}

.button-background-off {
    background-color: lightgrey;
    transition: background-color .5s;
}

.button-on {
    margin-left: 43.5px;
    transition: margin-left .5s;
}

.button-off {
    margin-left: 5.5px;
    transition: margin-left .5s;
}

.button-container .button-cover {
    width: 70px;
    height: 28px;
    border: 1px solid #000000;
    border-radius: 14px;
    box-shadow: 1px 1px 2px #000000;
    text-align: left;
}

.on-switch {
    background-color: #ababab;
    width: 20px;
    height: 20px;
    border-radius: 9px;
    border: 1px solid #000000;
    margin-top: 2.5px;
}

#outer-circle {
    height: 90vw;
    width: 90vw;
    max-height: 500px;
    max-width: 500px;
    border:14px solid black;
    border-radius: 250px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;
    position: relative;
}

.simon-section {
    width: 100%;
    height: 100%;
    border-right: 8px solid black;
    border-left: 8px solid black;
    margin: 0;
    padding: 0;
}

.light-left {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    margin-left: 1px;
}

.light-right {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    margin-right: 1px;
}

.simon-section-top {
    border-bottom: 8px solid black;
}

.simon-section-bottom {
    border-top: 8px solid black;
}

.half-circle {
    height: 50%;
}

.center-section {
    height: 45%;
    width: 45%;
    border: 14px solid black;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    overflow: hidden;
}

#section-1 {
    background-color: #056105;
    /* #88ef88; */
}

#section-2 {
    background-color: #ca0808;
    /* #fe6161; */
}

#section-3 {
    background-color: #c8c80a;
    /* #efefa3; */
}

#section-4 {
    background-color: #0808c0;
    /* #8686f3; */
}

#section-5 {
    background-color: #636363;
    /* #f37c05; */
}

.level-title {
    margin: 0 auto;
}

.console {
    background-color: black;
    color: orange;
    height: 80px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.play-button {
    margin: 0 auto;
}