.center {
    text-align: center;
}

.button-heading {
    font-size: 20px;
}

.button-container {
    padding: 15px;
    display: inline-block;
    text-align: center;
}

.button-background-on {
    background-color: lightgreen;
    transition: background-color .5s;
}

.button-background-off {
    background-color: lightgrey;
    transition: background-color .5s;
}

.button-on {
    margin-left: 43.5px;
    transition: margin-left .5s;
}

.button-off {
    margin-left: 5.5px;
    transition: margin-left .5s;
}

.button-container .button-cover {
    width: 70px;
    height: 28px;
    border: 1px solid #000000;
    border-radius: 14px;
    box-shadow: 1px 1px 2px #000000;
    text-align: left;
}

.on-switch {
    background-color: #ababab;
    width: 20px;
    height: 20px;
    border-radius: 9px;
    border: 1px solid #000000;
    margin-top: 2.5px;
}

#outer-circle {
    height: 400px;
    width: 400px;
    border: 8px solid black;
    border-radius: 200px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;
}

.simon-section {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    margin: 0;
}

.half-circle {
    height: 50%;
}

.center-section {
    height: 150px;
    width: 150px;
    border: 4px solid black;
    border-radius: 75px;
    margin: auto;
    position: relative;
    transform: translateY(-178%);
    z-index: 1;
}

#section-1 {
    background-color: #056105;
    /* #88ef88; */
}

#section-2 {
    background-color: #ca0808;
    /* #fe6161; */
}

#section-3 {
    background-color: #c8c80a;
    /* #efefa3; */
}

#section-4 {
    background-color: #0808c0;
    /* #8686f3; */
}

#section-5 {
    background-color: #301800;
    /* #f37c05; */
}